/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html,body{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    padding:0;
    margin: 0;
    background: #ffffff url('../img/body_top_bg.gif') repeat-x top;
}
.headerPlanning{
    width:200px;
    position: absolute;
    top:25px;
}
.flop{
    text-align: center;
}

.fullsrcreen{
    width: 1260px;
    position:  absolute;
    top:35px;
}

.flow{
   /* position:absolute;*/
    margin-left: 199px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 50px;
    right:0;
}
.table-planning tr.dev{
    height: 25px;
    line-height: 25px;
}
.dev:not(.name) td{
    width:32px;
}
.dev.name td{
    text-align: center;
    /*padding-left:10px;*/
    width:200px;
    height: 25px;
}
.dev td{
    text-align: center;
    width:200px;
}
.dev1:not(.name) td{
    width:35px;
}
.dev1.name td{
    text-align: center;
    /*padding-left:10px;*/
    width:200px;
    height: 31px;
}
.dev1 td{
    text-align: center;
    width:200px;
}
.dev3:not(.name) td{
    width:35px;
}
.dev3.name td{
    text-align: center;
    /*padding-left:10px;*/
    width:200px;
    height: 31px;
    /*display: inline-flex;*/
    line-height: 31px;
    display: -moz-inline-box;
}
.dev3 td{
    text-align: center;
    width:200px;
}
.dev4:not(.name) td{
    width:35px;
}
.dev4.name td{
    text-align: center;
    /*padding-left:10px;*/
    width:200px;
    height: 35px;
    display: block;
}
.dev4 td{
    text-align: center;
    width:200px;
}
.BrdSep{
    /*border-top:1px solid #000000;*/
    border-left:1px solid #000000;
    border-bottom:1px solid #000000;
    /*border-right:1px solid #000000;*/
    text-align: center;
}
.BrdSep2{
    border-left:1px solid #000000;
    border-bottom:1px solid #000000;
}
.BrdSep3{
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
}
.BrdSep4{
    border-left:1px solid #000000;
    border-bottom:1px solid #000000;
    vertical-align: bottom;
}
.BrdSep5{
    border-right:1px solid #000000;
    border-left:1px solid #000000;
    border-bottom:1px solid #000000;
}
.BrdSep6{
    /*border-top:1px solid #000000;*/
    /*border-right:2px solid #a40057;*/
    border-bottom:2px solid #a40057;
    /*border-left:1px solid #000000;*/
    text-align: center;
}
.bordlastmont{
    border-right: 2px solid #a40057;
    height: 35px;
}
.bordlastmont2{
    border-right: 2px solid #a40057;
}
.bordlastmont3{
    border-right: 2px solid #a40057;
}
.Br
.center{
    text-align: center;
}
.w30{
    width:70px;
    font-size: 15px;
}
.w302{
    width:70px;
    font-size: 13px;
}
.equipes{
    /*padding-top: 1px;
    padding-bottom: 1px;*/
}
.equipes2{
    /*margin-bottom: 2px;*/
}
#vert{
    background-color: #ffffff;
}
.absent{
    background-color: #f11791;
}
.weekend1{
    height: 25px;
    background-color: #818083;
    background-image: url("/static/img/images/weekend_03.png");
}
.weekend{
    height: 25px;
    /*background-color: #818083;*/
    background-image: url("/static/img/images/weekend_03.png");
}
.currentDay{
    height: 25px;
    color: #f11791;
}
.jourferier{
    height: 25px;
    color: #FFB547;
    display: block;
}
.jourferier2{
    height: 25px;
    color: #FFB547;
    display: block;
}
.currentDay2{
    height: 25px;
    display: block;
    color: #f11791;
}
.listService{
    margin-left: 30%;
    display: inline-block;
    text-align: center;
    color: #000000;
}
.blockResponsable{
}
/*#picture{
    display: none;
}*/
button{
    background: url('/static/img/images/button_10.gif') no-repeat;
    cursor:pointer;
    border: none;
    height: 27px;
    width: 76px;
}
#logo {
    width: 440px;
    float: left;
}
.rest{
    width: 400px;
    overflow-x:scroll;
    overflow-y:hidden;
}
#photoDev{
    display: none;
}
.blockpicker{
    margin-left: 216px;
}
.input-datepicker{
      height: 34px;
  border-radius: 4px;
  color: #000;
  padding-left: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.leSpan{
    color: #ffffff;
}
.class-select{
display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*

PARTIE INDEX.HTML

*/

#content{
    width: 100%;
    height: 850px;
    margin-top: 31px;
    opacity: 0.5;
    background-color: #303030;
}
.titleWhat{
    color: #ec06a9;
    font-size: 109px;
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
    -webkit-text-shadow:2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

/* 

    TOOLTIP 

*/
