@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body, html, .container {
	height: 100%;
}
a{
	text-decoration: none;
	color: #000;
}
h4, h5, h6 {
	text-align:left;
	font-size: 13px;
}

.tooltip {
	display: inline;
	position: relative;

}

/* Gap filler */
.tooltip::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 100%;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tooltip:hover::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9998;
	width: 250px;
	height: 100px;
	left: 23%;
	bottom: 120%;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

.tooltip-effect-2 .tooltip-content {
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0,10px,0) rotate3d(0,0,1,5deg);
	transform: translate3d(0,10px,0) rotate3d(0,0,1,5deg);
}

.tooltip:hover .tooltip-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tooltip-content > span.pic {
	float: left;
	width: 30%;
	height: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.tooltip-content > span.txt {
	float: left;
	width: 70%;
	height: 100%;
	position: relative;
	padding-top:0px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.tooltip-content > span img {
	display: block;
	max-width: 60px;
	margin: 10px;
}

.tooltip-front {
	background: #ed078d;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,-90deg);
	transform: perspective(1000px) rotate3d(0,1,0,-90deg);
}

.tooltip-back {
	background: #ed078d;
	font-size: 0.5em;
	padding: 2.2em 1em 0;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,90deg);
	transform: perspective(1000px) rotate3d(0,1,0,90deg);
}

.tooltip:hover .tooltip-content > span {
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
}

/* Arrow */
.tooltip-content .tooltip-front::after,
.tooltip-content .tooltip-back::after {
	content: '';
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
}

.tooltip-content .tooltip-front::after {
	right: 0;
	border-top: 10px solid #ed078d;
	border-left: 10px solid transparent;
}

.tooltip-content .tooltip-back::after {
	left: 0;
	border-top: 10px solid #ed078d;
	border-right: 10px solid transparent;
}