<!DOCTYPE html>
<html ng-app="PlanningDev">
	<head>
		<meta charset="UTF-8">
		<title>What1000</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/tooltip-flip.css') }}">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body ng-controller="PlanningController">
		<header>
		    <div id="logo"><a href="/"><img alt="1000Mercis" src="/static/img/1000mercis_FR_Blanc_HD_01.png"/></a></div>
		</header>
		<div class="blockResponsable">
			<div class="listService">
				<form id="voir" method="post" action="/calendar_request">
					<div class="blockpicker">
						<span class="leSpan" style="position: absolute;top: 2px;margin-left: -30px;"><img src="/static/img/images/formulaire_03.gif" alt=""></span>
						<input type="text" style="position: absolute;top: 2px;margin-left: 30px;" class="datepicker input-datepicker" value="{{ start }}" id="fin1" name="start" />
						<span class="leSpan" style="position: absolute;top: 2px;margin-left: 207px;"><img src="/static/img/images/formulaire_05.gif" alt=""><span>
						<input type="text" style="position: absolute;top: 0px;margin-left: 17px;" class="datepicker input-datepicker" value="{{ end }}" id="fin2" name="end" />
						<input type="hidden" id="totaldays1" value="{{ nb1 }}" name="totaldays1" />
						<input type="hidden" id="totaldays2" value="{{ nb2 }}" name="totaldays2" />
						<input type="hidden" id="leService" name="leService" value="
						[[ equipes[0].department ]]" />
						<button style="position: absolute;top: 3px;margin-left: 194px;"></button>
					</div>
				</form>
			</div>
		</div>
		<div class="fullsrcreen">
			<div class="headerPlanning">
				<table class="table-planning" style="margin-top: 96px;">
					<tr class="dev4">
						<td class="BrdSep"></td>
					</tr>
					<tr>
						<td class="flop">
						</td>
					</tr>
					<tr ng-repeat="n in equipes">
						<td class="equipes2"><table>
							<tr class="dev3 name" ng-if="n['id_equipe'] != 1">
								<td class="BrdSep5" style="background-color: #ffdcf0; text-align:left; padding-left:20px;font-size:13px">
									
										<input type="checkbox" checked ng-click=" " id="[[ n['id_equipe'] ]]"> [[ n['members'][0].nameR ]]
									
								</td>
							</tr>
							<tr class="dev name BrdSep2" ng-repeat="j in n['members'] | filterDev: equipes | orderBy:'-responsable'">
								<td id="[[ j.dev ]]" style="font-size:13px">
									<div ng-repeat="o in employer">
										<div style="height:25px;" ng-show="verifMailDev(o.workEmail, j['email'])">
											<span class="tooltip tooltip-effect-3" href="#"> 
						                        <span class="tooltip-content"> 
						                          <span class="tooltip-front pic">
						                            <img src="[[ o.photoUrl ]]" alt="[[ o.displayName ]]"/>
						                          </span> 
						                          <span class="tooltip-back txt">
						                              <h4><a href="http://wiki.1000mercis.com/index.php/User:[[ j.dev ]]" target="_blank">[[ o.displayName ]]</a></h4>
						                              <h4>Trigramme : [[ j.dev ]]</h4>
						                              <h4>Nom de poste : [[ j.nomPoste ]]</h4>
						                              <h4><a href="/sip:[[ j.dev ]]@millemercis.com">[[ j.dev ]]@millemercis.com</a></h4>
						                          </span> 
						                        </span>
												[[ o.displayName ]]
											</span>
										</div>
									</div>
								</td>
							</tr>
						</table></td>
					</tr>
				</table>
			</div>
			<div class="flow">
				<table class="table-planning">
						

							<tr>
								<td><table>
									<tr>
										<td class="center BrdSep6" ng-repeat="month in monthTotal" colspan="[[ month.nbjour ]]"> 
											<div style="padding-bottom:7px; padding-top:7px; font-size:20px;" ng-if="month.nbjour > 1">
												[[ month.nameMonth ]]<font color="#ee1891">[[ month.annee ]]</font>
											</div>
										</td>
									</tr>
									<tr>
										<td style="height:35px" class="w30 center BrdSep" ng-repeat="i in calendar" ng-class="{weekend1 : verifDayWeekEnd(i['day'])}">
											<div ng-class="{currentDay2 : verifCurrentDay(i['date'])}">
												<div ng-class="{jourferier : verifJoursFerier(i['date'])}">
													<div ng-class="{bordlastmont : compartDayAndDay(i['date'], i['end_day'])}">					
														[[ i['dateHeader'] ]]
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr ng-repeat="n in equipes">
										<td ng-repeat="i in calendar"><table ng-class="{bordlastmont3 : compartDayAndDay(i['date'], i['end_day'])}">
										
											
												<tr class="dev1 name"  ng-if="n['id_equipe'] != 1">
													<td class="BrdSep" ng-class="{weekend : verifDayWeekEnd(i['day'])}">
														<div ng-if="verifNbAbsentOfDay(n,i['date']) == 'orange'">
															<div id="orange"><img src="/static/img/images/drapauxOrange_09.png" alt="" /></div>
														</div>
														<div ng-if="verifNbAbsentOfDay(n,i['date']) == 'rouge'">
															<div id="rouge"><img src="/static/img/images/drapauxRouge_07_07.png" alt="" /></div>
														</div>
													</td>
												</tr>
											
											
											<tr ng-repeat="j in n['members'] | filterDev: equipes | orderBy:'-responsable'">
												<td class="w30 center  BrdSep" ng-class="{absent : verifDateWhosOut(j.whosout,i['date'])}">

													<table>
														<tr>
															<td class="w30 center" style="height:25px">
																<div ng-class="{weekend : verifDayWeekEnd(i['day'])}">
																</div>
															</td>
														</tr>
													</table>

												</td>
											</tr>

										</table></td>
									</tr>
								</table></td>
							</tr>

				</table>
			</div>
		</div>
	</body>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/appi.js') }}"></script>
	<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</html>